{% extends "base.html" %}
{% block content %}

{% load static %}
<br>
<br>
<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="form-div-new-update">
            <br>
            <h1 class="def-text" style="text-align: center;">Оновлення новини</h1>
            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-add">Оновити</button>
                <a href = "{% url 'news:new-list' %}" class="btn btn-secondary">Назад</a>
            </form>
            <br>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}